---
layout: main
---
<div id="maincontent">
    <div id="hero">
        <h1>
            today. tomorrow. together.
        </h1>
        <p>At Vivic Research, we support agents working toward social justice with economic and data-driven research.
        </p>
    </div>
    <div class="maincenter" id="about">
        <p>
            Vivic Research is an economic consulting firm. We serve advocates, think tanks, governments, labour unions,
            and other agents engaged in the development of public policy. We empower our clients with economic knowledge
            through our practice areas: economic research, data science, and training.
        </p>
    </div>
    <div class="maincenter" id="prioities">
        <h2>Our Priorities</h2>

        <div id="pillars">
            <div class="pillar" id="pillar1">
                <div class="pillar-box" id="pink">
                    Economic Research
                </div>
                <p>
                    We develop boutique research studies focusing on targeted issues related to the intersection of
                    policy, economics, and social justice. This includes but is not limited to literature reviews,
                    policy recommendations, community consultation and cost/benefit analysis. Our past work has included
                    costing an alternative municipal budget for the city of Ottawa with an emphasis on racial and gender
                    equity, research on Employment Insurance and best practices for post-secondary education fees and
                    debt cancellation.
                </p>

            </div>
            <div class="pillar" id="pillar2">
                <div class="pillar-box" id="white">
                    Training
                </div>
                <p>
                    We provide personalized training on quantitative research methods for teams, helping them build
                    confidence and do their work more efficiently. Vivic offers SPSD/M training for beginners and more
                    experienced users. Our introductory training "Getting Started: Policy Analysis Using SPSD/M" gets
                    researchers quickly up-and-running with SPSD/M, saving time and frustration.
                </p>

            </div>
            <div class="pillar" id="pillar3">
                <div class="pillar-box" id="blue">
                    Data Science
                </div>
                <p>
                    We develop processes for procuring, organizing, and analyzing information effectively and
                    efficiently. We also provide our clients with analysis they can easily replicate such as annual
                    factsheets or reports.
                </p>

            </div>

        </div>
        <h2 id="work-title">Our Work</h2>
        <div id="button-continer">
            <div id="our-work">
                {% assign works = site.works | sort: "work" %}
                {% for work in works %}
                {% assign worknum = work.work | minus: 1 %}
                {% if work.work == 1 %}
                <div id="work-{{ worknum }}" class="work work-selected">
                    {% else %}
                    <div id="work-{{ worknum }}" class="work work-unselected">
                        {% endif %}
                        <h3>
                            {{work.title}}
                        </h3>
                        <p>
                            {{ work.content | remove: '<p>' | remove: '</p>' }}<a class="read-more"
                                href="{{ work.pdf }}" target="_blank">
                                Read More</a>
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <a href="contact/index.html" id="bottom-cta" class="cta">Get in Touch</a>


    </div>

    <script>
        var current = 0;
        var total = document.getElementsByClassName("work").length;

        console.log(total)

        function changeWork(change) {
            var cur = document.getElementById("work-" + current);
            cur.className = "work work-unselected";
            current = (current + change) % total;
            var next = document.getElementById("work-" + current);
            next.className = "work work-selected";
        }

        function moveFoward() {
            changeWork(1)
        }

        var repeat = setInterval(moveFoward, 7000);
    </script>

    <style>
        h2 {
            text-align: center;
            font-size: 30pt;
        }
    </style>