---
layout: main
---

<div id="our-work-content">
    <h2>Our Work</h2>
    <div id="work-content">

        {% assign works = site.works | sort: "work" | reverse %}
        {% for work in works %}
        <div class="work-card">
            <h3>{{ work.title }}</h3>
            {{ work.content }}
            {% if work.work == 6 %}
            <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                <a class="read-more our-work" id="bh" href="/assets/PDFS/{{ work.pdf }}" target="_blank">
                    Read More</a>
                <a class="read-more our-work" id="bh" href="BH-Final-Report.pdf" target="_blank">
                    Report</a>
                <a class="read-more our-work" id="bh" href="BH-Final-Strategy.pdf" target="_blank">
                    Strategy</a>
            </div>
            {% else %}
            <a class="read-more our-work" href="/assets/PDFS/{{ work.pdf }}" target="_blank">
                Read More</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <a href="/contact/index.html" id="bottom-cta" class="cta">Get in Touch</a>
</div>

<style>
    .read-more.our-work {
        display: block;
        text-align: center;
        position: absolute;
        bottom: 2%;
        left: 40%;
        font-size: 20px;
        color: white;
    }

    .read-more.our-work::after {
        content: '';
        margin-top: -2.5px;
        display: block;
        width: 0;
        opacity: 0;
        height: 2px;
        background: linear-gradient(to right, #fcd5e1, #fff, #def8f8);
        -webkit-transition: width 0.2s;
        -o-transition: width 0.2s;
        transition: width 0.2s;

    }

    .read-more.our-work:hover::after {
        opacity: 1;
        width: 100%;
    }

    #bh.read-more.our-work {
        display: block;
        text-align: center;
        position: unset;
        font-size: 20px;
        color: white;
    }

    #bh.read-more.our-work::after {
        content: '';
        margin-top: -2.5px;
        display: block;
        width: 0;
        opacity: 0;
        height: 2px;
        background: linear-gradient(to right, #fcd5e1, #fff, #def8f8);
        -webkit-transition: width 0.2s;
        -o-transition: width 0.2s;
        transition: width 0.2s;

    }

    #bh.read-more.our-work:hover::after {
        opacity: 1;
        width: 100%;
    }



    .read-more.our-work:hover::after {
        opacity: 1;
        width: 100%;
    }

    #our-work-content {
        margin: 250px auto 100px auto;
        width: 80%;
    }

    #our-work-content h2 {
        font-size: 28pt;
        text-align: center;
        margin-bottom: 65px;
    }

    #work-content {
        margin: 20px auto 100px auto;
        width: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, 500px);
        column-gap: 50px;
        row-gap: 50px;
        align-items: center;
        justify-content: center;
    }

    .work-card {
        min-height: 450px;
        position: relative;
        padding: 20px;
        border: 10px solid;
        border-image-slice: 1;
        border-width: 5px;
        border-image-source: linear-gradient(to right, #fcd5e1, #fff, #def8f8);
        padding-bottom: 0;
    }


    .work-card h3 {
        text-align: center;
        padding: 0 35px
    }

    .work-card p {
        font-weight: 100;
        font-size: 13pt;
        line-height: 25px;
    }

    @media screen and (max-width: 1310px) {
        .read-more.our-work {
            left: 35%;

        }

        #work-content {
            grid-template-columns: repeat(auto-fit, 350px);
            column-gap: 30px;
            row-gap: 30px;
        }

        .work-card {
            min-height: 630px;
        }


    }

    @media screen and (max-width: 920px) {
        .read-more.our-work {
            left: 40%;

        }

        #work-content {
            display: unset;
        }

        .work-card {
            margin-bottom: 30px;
            min-height: 400px;
        }

    }

    @media screen and (max-width: 600px) {
        #work-content {
            display: unset;
            width: unset;

        }

        .work-card {
            min-height: 350px;
        }

        #our-work-content {
            width: unset;
        }

    }
</style>