<meta charset="utf-8" />
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<link rel="canonical" href="https://vivicreasearch.ca/" />
<meta property="og:url" content="https://vivicreasearch.ca/" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Vivic Reaseach" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:image" content="https://vivicresearch.ca/assets/images/VIVIC-LOGO-V.jpeg" />
<meta name="twitter:image:alt" content="Vivic Reseach" />
<meta property="og:image" content="https://vivicresearch.ca/assets/images/VIVIC-LOGO-V.jpeg" />
<meta property="og:image:alt" content="Vivic Reseach" />
<meta property="og:description" content="Vivic Reasearch" />
<link rel="stylesheet" type="text/css" href="/assets/styles/style.css" />
<meta name="twitter:title" content="Vivic Reaseach">
<meta property="og:title" content="Vivic Reaseach">
<link key="apple-touch-icon" rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#482979">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/Favicon32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/Favicon16x16.png">
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>