<meta charset="utf-8" />
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<link rel="canonical" href="https://vivicreasearch.ca/" />
<meta property="og:url" content="https://vivicreasearch.ca/" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Vivic Reaseach" />
<link rel="stylesheet" type="text/css" href="/assets/styles/style.css" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/Vivic-Logo-Stacker.svg">
<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#482979">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/Favicon32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/Favicon16x16.png">
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>