---
import Main from '../layouts/MainCentered.astro'
---

<Main>
<section>
<h1> <span class="pink">4</span><span class="white">0</span><span class="blue">4</span></h1>
<p> Oh No The page you where looking for was not found</p>
</section>
</Main>

<style>
    h1 {
        font-size: 5em;
    }
    p {
        font-size: 1.5em;
    }
    .pink {
        color: var(--secondary);
    }
    .white {
        color: var(--white);
    }
    .blue {
        color: var(--tertiary);
    }
    section {
        font-family: var(--mainfont);
        padding-top: 150px;
        text-align: center;
    }
</style>