---
import MainCentered from '../layouts/MainCentered.astro'
import CtaButtom from "../components/InlineCtaButton.astro"
---

<MainCentered>
	<p class='big-text'>
		At Vivic Research,
		we support agents working toward social justice through economic and data-driven research.
		We serve advocates, think tanks, governments, labour unions,
		and community engaged in the development of public policy.
		We empower our clients with economic knowledge through our practice areas: economic research,
		training, and data science.
	</p>
	<div id="about-section">
		<section>
			<h3>
				Our Vision
			</h3>
			<p>
				Vivic Research envisions a just society, where everyone has access
				to housing, food, safety, health, and community.
			</p>
		</section>
		<section>
			<h3> 
				Our Mission 
			</h3>
			<p> 
				Vivic Research’s mission is to provide alternatives to traditional economic
				consulting. We work towards our collective liberation by actively
				challenging standard assumptions and existing systems.
			</p>
		</section>
	</div>

	<h2>Our Team</h2>
	<div class="team">
		<section>
			<picture>
				<source type="image/avif" srcset="/images/inez.avif"/>
				<source type="image/webp" srcset="/images/inez.webp"/>
				<img src="/images/inez.jpg" alt="inez">
			</picture>
			<h3>
				Inez Hillel <span class="pronouns">(she/her)</span>
			</h3>
			<h4>
				Economist and Co-founder
			</h4>
			<p>
				Inez Hillel is co-founder and economist of Vivic Research. She currently
				works on the traditional territory of the Huron-Wendat, the Seneca
				and the Mississaugas of the Credit. Inez is passionate about intersectional
				economics that center frontline voices and qualitative data as foundational
				for progressive policy development. Her focus at Vivic is projects
				that require ongoing community engagement and that allow her to connect
				with grassroots activists and organizations. Having previously worked
				at the Centre for the Study of Living Standards, she has conducted
				research on income supports in Canada.  Inez holds an MA in Economics
				from Simon Fraser University and a BA in Applied Economics from Queen’s
				University. In 2020, Inez was the recipient of the British Columbia
				Graduate Scholarship and the Provost Prize of Distinction Scholarship
				from Simon Fraser University. 
			</p>
			<CtaButtom className="about-button" link="/contact">
				Get in Touch
			</CtaButtom>
		</section>

		<section>
			<picture>
				<source type="image/avif" srcset="/images/robin.avif"/>
				<source type="image/webp" srcset="/images/robin.webp"/>
				<img src="/images/robin.jpg" alt="robin">
			</picture>
			<h3>
				Robin Shaban <span class="pronouns">(they/them)</span>
			</h3>
			<h4>
				Senior Economist and Co-founder
			</h4>
			<p>
				Robin Shaban is co-founder and senior economist of Vivic Research,
				and currently works on the traditional and unceded Territory of the
				Anishinabe Algonquin Nation. They bring an interest in quantitative
				analysis, policy microsimulation, and competition policy to Vivic’s
				work. Beginning in 2017 Robin has worked as a freelance consultant
				serving several think tank and advocacy organizations. Prior to that,
				they were the Andrew Jackson fellow at the Canadian Centre for Policy
				Alternatives and an officer at Canada’s Competition Bureau. This year
				Robin was a winner of the Globe and Mail’s Report on Business 2021
				Changemakers award. They hold a MA in economics from Queen’s University
				and is also a PhD candidate at Carleton’s School of Public Policy and
				Administration, studying competition policy in Canada and around the
				globe. Robin is also a research associate with the Canadian Centre
				for Policy Alternatives.
			</p>
			<CtaButtom className="about-button" link="/contact">
				Get in Touch
			</CtaButtom>
		</section>

		<section>
			<picture>
				<source type="image/avif" srcset="/images/silas.avif"/>
				<source type="image/webp" srcset="/images/silas.webp"/>
				<img src="/images/silas.jpg" alt="silas">
			</picture>
			<h3>
				Silas Xuereb <span class="pronouns">(he/him)</span>
			</h3>
			<h4>
				Economist
			</h4>
			<p>
				Silas Xuereb is an Economist at Vivic Research and typically lives and works on the traditional territory of the Mississaugas of the Credit.
				Silas is especially interested in the causes and consequences of economic inequalities and also has a keen interest in political economy,
				the evolution of economic thought and modern pedagogy in the economics discipline.
				He has experience in data analysis, survey design and writing academic and public-facing papers through working at the World Inequality Lab, 
				the UBC Housing Research Collaborative and in the federal government.
				He holds MAs in Economics from the University of British Columbia and the Paris School of Economics and has a background in social psychology.
			</p>
		</section>
		<section>
			<picture>
				<source type="image/avif" srcset="/images/emre.avif"/>
				<source type="image/webp" srcset="/images/emre.webp"/>
				<img src="/images/emre.jpg" alt="emre">
			</picture>
			<h3>
				Yunus Emre Bozkurt <span class="pronouns">(he/him)</span>
			</h3>
			<h4>
				Research Assistant
			</h4>
			<p>
				Yunus Emre Bozkurt is an Research Assistant at Vivic Research.
				He respectfully acknowledges that he works on the traditional territory of the Huron-Wendat, the Seneca and the Mississaugas of the Credit.
				He is interested in the societal impacts of income inequality.
				While working at Vivic, his objective is to contribute to more equitable public policy designs with quantitative analysis.
				Previously, while working as a Research Assistant at the York University Community Finance Project,
				he designed a series of financial literacy workshops that aimed to provide fair and accessable financial services to Canadian consumers in an evolving marketplace.
				Emre holds a BA in Management from Bogazici University, as well as a BA and MA from the York University Department of Economics.
				He is currently still studying at York, completing a PhD in Economics.
			</p>
		</section>
	</div>
</MainCentered>

<style>
.big-text {
	width: 75%;
	font-size: 2rem;
	font-weight: bold;
}

#about-section {
	width: 60%;
	display: flex;
	flex-direction: row;
	gap: 40px;
}

#about-section h3 {
	font-size: 1.6rem;
}

#about-section p {
	line-height: 25px;
}

h2 {
	text-align: center;
	margin-top: 120px;
	font-weight: 200;
	font-size: 2rem;
}

.team {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	gap: 5%;
	padding: 5%;
}

.team img {
	display: block;
	width: 100%;
	max-width: 300px;
	margin: auto;

	clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
}

.team h3 {
	font-size: 1.8rem;
	margin: 30px 0 20px ;
	text-align: center;
}

.team .pronouns {
	font-weight: normal;
	font-size: .75em;
	letter-spacing: 0.03em;
}

.team h4 {
	margin-bottom: 20px;
	text-align: center;
}

.team p {
	line-height: 1.8;
	font-weight: 100;
}

@media screen and (max-width: 870px) {
	.big-text {
		font-size: 1.3rem;
	}

	#about-section h3 {
		font-size: 1.1rem;
	}

	.team {
		display: block;
	}

	.team section {
		margin-bottom: 120px;
	}
}
</style>