---
import MainCentered from '../layouts/MainCentered.astro'
import CtaButtom from "../components/InlineCtaButton.astro"
---

<MainCentered>
    <p class='big-text'>
    At Vivic Research, we support agents working toward social justice with economic and data-driven research.
                We serve advocates, think tanks, governments, labour unions,
                and other agents engaged in the development of public policy. We empower our clients with economic knowledge
                through our practice areas: economic research, data science, and training.
        
    </p>
    <div id="about-section">
        <section style="padding-left: 0;">
            <h3>
                Our Vision
            </h3>
            <p>
                Vivic Research envisions a just society, where everyone has access to housing, food, safety, health and community.
            </p>
        </section>
        <section>
            <h3> 
                Our Mission 
            </h3>
            <p> 
                Vivic Research’s mission is provide alternatives to traditional economic consulting. We work towards our collective liberation by actively challenging standard assumptions and existing systems.
            </p>
        </section>
    </div> 
    <h2> Our Team </h2>
    <div id="photos">
    <img class="photo-left" src="/images/inez.jpg" alt="inez">
    <h3 class="photo-left">Inez Hillel</h3>
    <p class="photo-left"> Inez Hillel is co-founder and economist of Vivic Research. Inez is passionate about
        intersectional economics that prioritize community building and collective wellbeing. She understands the
        importance of centering frontline voices and using economic analysis as a tool for progressive policy
        development. Having previously worked at the Centre for the Study of Living Standards, she has conducted
        research on income supports in Canada. Inez also applies a climate justice lens to her work, infused by her work
        experience in environmental education at the Montreal Biosphere. Inez is currently pursuing an MA in Economics
        at Simon Fraser University and holds a BA in Applied Economics from Queen’s University.
        <CtaButtom className="about-button" link="/contact">Get in Touch</CtaButtom>

    </p>
    <img class="photo-center" src="/images/robin.jpg" alt="robin">
    <h3 class="photo-center">Robin Shaban</h3>
    <p class="photo-center">Robin Shaban is co-founder and senior economist of Vivic Research. She is also a PhD
        candidate at Carleton’s School of Public Policy and Administration, studying competition policy in Canada and
        around the globe. This year she was also a winner of the <a class="about-link"
            href="https://www.theglobeandmail.com/business/rob-magazine/article-changemakers-canada-faces-serious-challenges-but-these-leaders-show/">Globe
            and Mail’s Report on Business 2021 Changemakers award.</a>
        Robin uses modern data science tools and methods to empower advocates and others with data. She believes
        that economic policy should be human-centered, and that the economy should work for people, not the other way
        around. Since 2017 she has worked as a freelance consultant serving several think tank and advocacy
        organizations such as the Ontario Living Wage Network, the University of Calgary’s School of Public Policy, the
        office of the EI Commissioner for Workers, the Broadbent Institute, and others. Prior to that, she was the
        Andrew Jackson fellow at the Canadian Centre for Policy Alternatives and an officer at Canada’s Competition
        Bureau. Robin’s holds a MA in economics from Queen’s University.
        <CtaButtom className="about-button" link="/contact">Get in Touch</CtaButtom>
    </p>
    <img class="photo-right" src="/images/robin.jpg" alt="robin">
    <h3 class="photo-right">Robin Shaban</h3>
    <p class="photo-right">Robin Shaban is co-founder and senior economist of Vivic Research. She is also a PhD
        candidate at Carleton’s School of Public Policy and Administration, studying competition policy in Canada and
        around the globe. This year she was also a winner of the <a class="about-link"
            href="https://www.theglobeandmail.com/business/rob-magazine/article-changemakers-canada-faces-serious-challenges-but-these-leaders-show/">Globe
            and Mail’s Report on Business 2021 Changemakers award.</a>
        Robin uses modern data science tools and methods to empower advocates and others with data. She believes
        that economic policy should be human-centered, and that the economy should work for people, not the other way
        around. Since 2017 she has worked as a freelance consultant serving several think tank and advocacy
        organizations such as the Ontario Living Wage Network, the University of Calgary’s School of Public Policy, the
        office of the EI Commissioner for Workers, the Broadbent Institute, and others. Prior to that, she was the
        Andrew Jackson fellow at the Canadian Centre for Policy Alternatives and an officer at Canada’s Competition
        Bureau. Robin’s holds a MA in economics from Queen’s University.
        <CtaButtom className="about-button" link="/contact">Get in Touch</CtaButtom>
    </p>
</div>
</MainCentered>

<style>

    .about-link {
        color: rgba(246, 90, 138, 1.00);
    }
    
  .big-text {
    width: 75%;
    font-size: 24pt;
    font-weight: bold;
    }
  #about-section {
    width: 60%;
    display: flex;
    flex-direction: row;
    row-gap: 12px;
  }
  section {
      padding: 0 10px;
  }
  section h3 {
      font-size: 20pt;
  }
  section p {
      line-height: 25px;
  }


  #photos {
    grid-template-columns: auto 500px 5% 500px 5% 500px auto;
    grid-template-rows: auto;
    display: grid;
    text-align: left;
    justify-content: center;
    justify-items: center;
}

h2 {
        text-align: center;
        text-transform: unset;
        margin-bottom: 64px;
        font-weight: 200;
    font-size: 32px;
    }


#photos p {
    font-size: 13pt;
    line-height: 25px;
}


#photos p {
    font-weight: 100;
}

#photos img {
    width: 100%;
    max-width: 300px;
    z-index: -99;

}

#photos h3 {
    font-size: 1.8rem;
}

img.photo-left {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
}
h3.photo-left {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

p.photo-left {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
}
img.photo-center {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
}

h3.photo-center {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
}

p.photo-center {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
}

img.photo-right {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
}

h3.photo-right {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
}

p.photo-right {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
}



/* @media screen and (max-width: 1250px) {
    #photos {
        -ms-grid-columns: auto 300px 12% 300px auto;
        grid-template-columns: auto 300px 12% 300px auto
    }

}

@media screen and (max-width: 900px) {
    #photos {
        -ms-grid-columns: auto 250px 40px 250px auto;
        grid-template-columns: auto 250px 40px 250px auto;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }

    #photos>*:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    #photos>*:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    #photos>*:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    #photos>*:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 4;
    }

    #photos>*:nth-child(5) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
}



@media screen and (max-width: 520px) {
    #photos {
        -ms-grid-columns: 1fr 5fr 1fr;
        grid-template-columns: 1fr 5fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }

    #photos>*:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    #photos>*:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    #photos>*:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    img.photo-center {
        padding-top: 50px;
        -ms-grid-column: 2;
        grid-column-start: 2;
        -ms-grid-column-span: 1;
        grid-column-end: 3;
        -ms-grid-row: 7;
        grid-row-start: 7;
        -ms-grid-row-span: 1;
        grid-row-end: 8;
    }

    h3.photo-center {
        -ms-grid-column: 2;
        grid-column-start: 2;
        -ms-grid-column-span: 1;
        grid-column-end: 3;
        -ms-grid-row: 8;
        grid-row-start: 8;
        -ms-grid-row-span: 1;
        grid-row-end: 9;
    }

    p.photo-center {
        -ms-grid-column: 2;
        grid-column-start: 2;
        -ms-grid-column-span: 1;
        grid-column-end: 3;
        -ms-grid-row: 9;
        grid-row-start: 9;
        -ms-grid-row-span: 1;
        grid-row-end: 10;
    }
} */
</style>