---
import MainCentered from "../layouts/MainCentered.astro";
import CtaButtom from "../components/InlineCtaButton.astro";
---

<MainCentered>
  <div id="about-section">
    <section>
      <h3>Our Story</h3>
      <p>
        Founded in 2020 by Inez Hillel and Robin Shaban, Vivic Research supports
        actors working toward systems change through economic and evidence-based
        research. Our previous academic and work experience in economics and
        growing frustration with the status quo left us seeking a space where we
        could combine our expertise in economics with our passion for
        community-focused work.
      </p>
      <p>
        In January 2023, Robin left the Vivic team to pursue other projects.
        Although it was tough to say goodbye to one of our co-founders, we
        remain committed to our vision of a just society, where everyone has
        access to research, information, and data to participate in the
        decision-making processes that impact their lives.
      </p>
      <p>
        We believe that when combined with public education and advocacy,
        research can be a tool for social change. To make our vision a reality,
        Vivic Research strives to collaborate with actors working towards
        systems change and confronting oppressive structures by providing
        alternatives to traditional economic and public policy research.
      </p>
    </section>
  </div>

  <h2>Our Team</h2>
  <div class="team">
    <section>
      <picture>
        <source type="image/avif" srcset="/images/inez.avif" />
        <source type="image/webp" srcset="/images/inez.webp" />
        <img src="/images/inez.jpg" alt="inez" />
      </picture>
      <h3>
        Inez Hillel <span class="pronouns">(she/her)</span>
      </h3>
      <h4>Economist and Co-founder</h4>
      <p>
        Inez Hillel is co-founder and economist of Vivic Research. Inez is
        devoted to intersectional economics, which emphasizes frontline voices
        and qualitative data as the foundations for progressive policy
        development. Her roles at Vivic includes research and analysis, project
        management, and relationship building with new and long-term clients.
        She is most passionate about projects that require ongoing community
        engagement and that allow her to connect and develop partnerships with
        grassroots activists and organizations. In her previous role as
        Economist at the Centre for the Study of Living Standards, she conducted
        research on income supports in Canada. Inez holds an MA in Economics
        from Simon Fraser University and a BA in Applied Economics from Queen’s
        University. In 2020, Inez was the recipient of the British Columbia
        Graduate Scholarship and the Provost Prize of Distinction Scholarship
        from Simon Fraser University.
      </p>
      <CtaButtom className="about-button" link="/contact">
        Get in Touch
      </CtaButtom>
    </section>

    <section>
      <picture>
        <source type="image/avif" srcset="/images/farnaz.avif" />
        <source type="image/webp" srcset="/images/farnaz.webp" />
        <img src="/images/farnaz.jpg" alt="farnaz" />
      </picture>
      <h3>Farnaz Farhang <span class="pronouns">(she/her)</span></h3>
      <h4>Researcher</h4>
      <p>
        Farnaz Farhang is a researcher at Vivic Research. In her work, Farnaz
        takes a critical research approach that focuses on identifying the
        underlying structures that perpetuate social injustice and harm.
        Farnaz's responsibilities at Vivic include conducting qualitative
        research and analysis, developing research proposals, writing
        comprehensive reports, and collaborating with clients to ensure their
        needs are met. Previously, Farnaz worked as a project manager and
        research coordinator for community-based research initiatives. Her
        research has focused on marginalized youth’s perspectives on mental
        health and substance use. She believes that research is most effective
        when the communities impacted by its outcomes are able to guide and
        participate in the process. Farnaz earned both a Bachelor's and a
        Master's degree in Criminology from the University of Ottawa. Her
        dedication to social justice and community-based research is reflected
        in her work at Vivic Research.
      </p>
    </section>


  </div>
</MainCentered>

<style>
  .big-text {
    width: 75%;
    font-size: 2rem;
    font-weight: bold;
  }

  #about-section {
    width: 60%;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  #about-section h3 {
    font-size: 1.6rem;
  }

  #about-section p {
    line-height: 25px;
  }

  h2 {
    text-align: center;
    margin-top: 120px;
    font-weight: 200;
    font-size: 2rem;
  }

  .team {
    display: flex;
    gap: 5%;
    padding: 5%;
  }

  .team img {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: auto;

    clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
  }

  .team h3 {
    font-size: 1.8rem;
    margin: 30px 0 20px;
    text-align: center;
  }

  .team .pronouns {
    font-weight: normal;
    font-size: 0.75em;
    letter-spacing: 0.03em;
  }

  .team h4 {
    margin-bottom: 20px;
    text-align: center;
  }

  .team p {
    line-height: 1.8;
    font-weight: 100;
  }

  @media screen and (max-width: 870px) {
    .big-text {
      font-size: 1.3rem;
    }

    #about-section h3 {
      font-size: 1.1rem;
    }

    .team {
      display: block;
    }

    .team section {
      margin-bottom: 120px;
    }
  }
</style>
