---
import Main from '../layouts/Main.astro'
import OurWork from '../components/OurWork.astro'
---
<Main title='Vivic Research'>
	<section id="hero">
		<h1>
			Today. Tomorrow. Together.
		</h1>
		<p>
			Vivic Research is an economic consulting firm dedicated to empowering
			peers working toward social justice with data-driven research.
		</p>
	</section>
	<section id="services">
		<h2>
			Our Services
		</h2>
		<div class="pillars">
			<section>
				<h3>
					Economic Research
				</h3>
				<p>
					We develop boutique research studies focusing on targeted issues
					related to the intersection of policy, economics, and social justice.
					This includes but is not limited to literature reviews, policy
					recommendations, community consultation and cost/benefit analysis.
					Our past work has included costing an alternative municipal budget
					for the city of Ottawa with an emphasis on racial and gender equity,
					research on Employment Insurance and best practices for post-secondary
					education fees and debt cancellation.
				</p>
			</section>
			<section>
				<h3>
					Training
				</h3>
				<p>
					We provide personalized training on quantitative research methods
					for teams, helping them build confidence and do their work more
					efficiently. Vivic offers SPSD/M training for beginners and more
					experienced users. Our introductory training "Getting Started:
					Policy Analysis Using SPSD/M" gets researchers quickly up-and-running
					with SPSD/M, saving time and frustration.
				</p>
			</section>
			<section>
				<h3>
					Data Science
				</h3>
				<p>
					We develop processes for procuring, organizing, and analyzing
					information effectively and efficiently. We also provide our
					clients with analysis they can easily replicate such as annual
					factsheets or reports.
				</p>
			</section>
		</div>
		<OurWork/>
	</section>
</Main>

<style>
#services {
	max-width: 1500px;
	margin: 0 auto 75px auto;
}

#hero {
	margin: 325px 8% 155px 8%;
	width: 65%;
}

h1 {
	font-weight: 200;
	font-size: 3.2rem;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

#hero p {
	width: 75%;
	font-weight: 100;
	font-size: 1.2rem;
}

h2 {
	font-size: 2.3rem;
	text-align: center;
}

.pillars {
	display: flex;
	gap: 25px;
	padding: 25px;
	justify-content: space-evenly;
	margin-bottom: 5rem;
	z-index: -9;
	transform: translateZ(-1);
}

.pillars section
{
	max-width: 400px;
	clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
	padding: 3rem 2.8rem;
	min-height: 400px;
	color: var(--black);
}

.pillars section:nth-child(1) {
	background: linear-gradient(to right, #f783a7, #fcd5e1);
}

.pillars section:nth-child(2) {
	background: linear-gradient(to right, #fcd5e1, #fff, #def8f8);
	margin-top: 50px;
}
.pillars section:nth-child(3){
	background: linear-gradient(to right, #def8f8, #9eecec);
	margin-top: 100px;
}

.pillars h3 {
	font-size: 1.3rem;
	text-align: center;
	margin: 2rem 0;
}

.pillars p {
	font-size: 13pt;
	line-height: 27px;
}

@media screen and (max-width: 1050px) {
	.pillars {
		display: block;
	}
	
	.pillars section {
		max-width: unset;
		min-height: unset;
		margin-top: 5px !important;
		padding: 2.5rem 1.2rem 3rem;
	}
}

@media screen and (max-width: 420px) {
	h1 {
		font-size: 2.8rem;
	}
} 
</style>