---
import Main from '../layouts/Main.astro'
import OurWork from '../components/OurWork.astro'

const data = await Astro.glob('../servicesList/*.md')



const services: {title: string}[] = data.map((service) => {
    return {
        title: service.frontmatter.title,
    }
})
---
<Main title='Vivic Research'>
	<section id="hero">
		<h1>
			Today. Tomorrow. Together.
		</h1>
		<p>
			Vivic Research is an economic consulting firm dedicated to empowering
			peers working toward social justice with data-driven research.
		</p>
	</section>
	<section id="services">
		<h2>
			Our Services
		</h2>
		<div class="pillars">
			{
				services.map((service) => (
					<section>
						<h3>{service.title}</h3>
					</section>
				)) 
			}
		</div>
		<OurWork/>
	</section>
</Main>

<style>
#services {
	max-width: 1500px;
	margin: 0 auto 75px auto;
}

#hero {
	margin: 325px 8% 155px 8%;
	width: 65%;
}

h1 {
	font-weight: 200;
	font-size: 3.2rem;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

#hero p {
	width: 75%;
	font-weight: 100;
	font-size: 1.2rem;
}

h2 {
	font-size: 2.3rem;
	text-align: center;
}

.pillars {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
	padding: 25px;
	margin-bottom: 5rem;
	align-items: center;
	justify-content: stretch; 
	transform: translateZ(-1);
}

.pillars section
{
	clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
	padding: 3rem 2.8rem;
	color: var(--black);
	display: flex;
  	justify-content: center;
  	align-items: center;
	width: 150px;
	height: 150px;
}

.pillars section:nth-child(4n + 1) {
	background: linear-gradient(to right, #f783a7, #fcd5e1);
}

.pillars section:nth-child(4n + 2) {
	background: linear-gradient(to right, #fcd5e1, #fff);
}
.pillars section:nth-child(4n + 3){
	background: linear-gradient(to right, #fff, #def8f8);
}
.pillars section:nth-child(4n + 4){
	background: linear-gradient(to right, #def8f8, #9eecec);
}

.pillars h3 {
	font-size: 1.2rem;
	text-align: center;
	margin: 2rem 0;
}

.pillars p {
	line-height: 1.8;
}

@media screen and (max-width: 1050px) {
	.pillars {
		display: block;
	}
	
	.pillars section {
		max-width: unset;
		min-height: unset;
		margin-top: 5px !important;
		padding: 2.5rem 1.2rem 3rem;
	}
}

@media screen and (max-width: 420px) {
	h1 {
		font-size: 2.8rem;
	}
} 
</style>