/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face
{
    font-family: "main";
    src: url('/assets/Fonts/Font-Medium.woff2') format('woff2'),
        url('/assets/Fonts/Font-Medium.woff') format('woff'),
        url('/assets/Fonts/Font-Medium.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face
{
    font-family: "main";
    src: url('/assets/Fonts/Font-Bold.woff2') format('woff2'),
        url('/assets/Fonts/Font-Bold.woff') format('woff'),
        url('/assets/Fonts/Font-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face
{
    font-family: "main";
    src: url('/assets/Fonts/Font-Light.woff2') format('woff2'),
        url('/assets/Fonts/Font-Light.woff') format('woff'),
        url('/assets/Fonts/Font-Light.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face
{
    font-family: "main";
    src: url('/assets/Fonts/Font-Book.woff2') format('woff2'),
        url('/assets/Fonts/Font-Book.woff') format('woff'),
        url('/assets/Fonts/Font-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --main: #262260;
    --secondary: #f55a8a;
    --tertiary: #7de5e5;
    --dark: #1a1229;
    --white: #ffffff
}

::-moz-selection {
    color: var(--white);
    background: var(--secondary);
  }

::selection {
    color: var(--white);
    background: var(--secondary);
  }


body {
    color: var(--white);
    min-height: 100vh;
    background-image: -o-radial-gradient(120% -5%,88% 140%,#482979, #40256b, #38215e, #301d51, #291943, #211536, var(--dark) 80%);
    background-image: radial-gradient(88% 140% at 120% -5%,#482979, #40256b, #38215e, #301d51, #291943, #211536, var(--dark) 80%);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--dark);
}

header {
    text-align: center;
}

a.cta {
	display: block;
	padding: 15px 20px;
    max-width: 130px;
    margin: 0 auto;

	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;

	color: var(--dark);
	background: var(--white);
	-webkit-box-shadow: 3px -3px 0 3px var(--secondary), -3px 3px 0 3px var(--tertiary);
	        box-shadow: 3px -3px 0 3px var(--secondary), -3px 3px 0 3px var(--tertiary);
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

a.cta:hover, a.cta:focus {
	-webkit-box-shadow: 5px -5px 0 5px var(--secondary), -5px 5px 0 5px var(--tertiary);
	        box-shadow: 5px -5px 0 5px var(--secondary), -5px 5px 0 5px var(--tertiary);
    -webkit-transform: scale(0.95);
            -ms-transform: scale(0.95);
        transform: scale(0.95);
}

a.desc-cta{
    margin-left: 0;
    margin-top: 50px;
}

#mainlogo {
    width: 85%;
    height: 85%;
}

#maincontent {
    font-family: main;
    margin: 450px 0 0;
}

main {
    font-family: main;
}


#about p {
    line-height: 27px;
    font-size: 13pt;
}

#hero {
    margin: 80px 8%;
    font-family: main;
    width: 65%;
}

#hero p {
    width: 75%;
    font-weight: 100;
    font-size: 14pt;


}

#contact {
    width: 50%;
    margin: auto;
}

#about {
    max-width: 700px;
    margin: 0 auto 75px auto;
    padding: 20px;
    font-weight: 100;
}

#prioities {
    max-width: 1500px;
    margin: 0 auto 75px auto;
    
}

h1 {
    font-family: main;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 50px;
    letter-spacing: 4px;
}

#pillars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 5rem;
    z-index: -9;
    -webkit-transform: translateZ(-1);
            transform: translateZ(-1);
}

.pillar {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 50px;
    max-width: 400px;
    -webkit-clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
            clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
    padding: 3rem;
    /* padding-top: .8rem; */
    min-height: 400px;
}



.pillar p {
    padding: .5em 0;
    text-align:left;
    color: black;
    font-size: 13pt;
    line-height: 27px;
}

#pillar1 {
    background: -o-linear-gradient(left,#f783a7,#fcd5e1);
    background: -webkit-gradient(linear,left top, right top,from(#f783a7),to(#fcd5e1));
    background: linear-gradient(to right,#f783a7,#fcd5e1);
}
#pillar2 {
    background: -o-linear-gradient(left,#fcd5e1, #fff, #def8f8);
    background: -webkit-gradient(linear,left top, right top,from(#fcd5e1), color-stop(#fff), to(#def8f8));
    background: linear-gradient(to right,#fcd5e1, #fff, #def8f8);
    margin-top: 50px
}

#pillar3 {
    background: -o-linear-gradient(left, #def8f8, #9eecec);
    background: -webkit-gradient(linear, left top, right top, from(#def8f8), to(#9eecec));
    background: linear-gradient(to right, #def8f8, #9eecec);
    margin-top: 100px
}

.pillar-box {
    font-size: 18pt;
    margin-top: 50px;
    text-align: center;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
    border-radius: 2px;
    
    
}

#work-title {
    margin-top: 130px;
}

#our-work {
    max-width: 800px;
    width: 95%;
    height: 200px;
    margin: 10px auto 0px auto;
    position: relative;
    overflow: hidden;
}

.work h3 {
    text-align: center;
    font-size: 22pt;
}

.work p {
    line-height: 27px;
}

.work {
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.work-unselected {
    -webkit-animation-name: quote-out;
            animation-name: quote-out;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: cubic-bezier(0.48, -0.04, 0.31, 0.99);
            animation-timing-function: cubic-bezier(0.48, -0.04, 0.31, 0.99);
    opacity: 0;
    pointer-events: none;
}

.work-selected {
    -webkit-animation-name: quote-in;
            animation-name: quote-in;
    -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
    -webkit-animation-timing-function: cubic-bezier(0.48, -0.04, 0.31, 0.99);
            animation-timing-function: cubic-bezier(0.48, -0.04, 0.31, 0.99);
}

#bottom-cta {
    margin-bottom: 6em;
}

@-webkit-keyframes quote-in {
    0% {
        color: var(--tertiary);
        opacity: 0;
        -webkit-transform: translateX(40px);
                transform: translateX(40px);
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

@keyframes quote-in {
    0% {
        color: var(--tertiary);
        opacity: 0;
        -webkit-transform: translateX(40px);
                transform: translateX(40px);
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

@-webkit-keyframes quote-out {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }

    90% {
        color: var(--secondary);
        opacity: 0;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(-40px);
                transform: translateX(-40px);
    }
}

@keyframes quote-out {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }

    90% {
        color: var(--secondary);
        opacity: 0;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(-40px);
                transform: translateX(-40px);
    }
}


@media screen and (max-width: 1050px){
    .pillar {
        max-width: unset;
        margin-bottom: 50px;
    }
    #pillars {
        display: unset;
    }
    #pillar3{
        margin-top: 50px;
    }
    #pillar1{
        margin-top: 50px;
    }

} 

#title-contact {
    text-align: center;
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    z-index: 999;
    -webkit-transition: background 0.4s ease, padding-top 0.4s ease, -webkit-box-shadow 0.4s ease;
    transition: background 0.4s ease, padding-top 0.4s ease, -webkit-box-shadow 0.4s ease;
    -o-transition: background 0.4s ease, padding-top 0.4s ease, box-shadow 0.4s ease;
    transition: background 0.4s ease, padding-top 0.4s ease, box-shadow 0.4s ease;
    transition: background 0.4s ease, padding-top 0.4s ease, box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
}

#nav .link {
    font-family: main;
    font-weight: 400;
    text-transform: uppercase;
    margin: auto 50px;
    text-decoration: none;
	color: inherit;
	font-size: 13pt;
    letter-spacing: 0.2em;
}

#nav .link::after {
    content: '';
    margin-top: 0.3rem;
    display: block;
    width: 0;
    opacity: 0.7;
    height: 2px;
    background: var(--white);
    -webkit-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

#nav a:hover::after {
    opacity: 1;
    width: 100%;
}

#logo-link {
    width: 15%;
}

@media only screen and (max-width: 1150px) {
    #logo-link {
        width: 25%;
    }
}

#form {
    width: 100%;
    margin: auto;
}

button {
    width: 100%;
    font-family: main;
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    padding: .25rem 1rem;
    line-height: 2.25rem;
    background-color: var(--secondary);
    border: 0;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

button:hover{
    background-color: var(--secondary);
    color: var(--white)
}

button:focus-visible{
    background-color: var(--secondary);
    color: var(--white);
}

.userfield {
    margin: 0 1rem;
    margin-left: 0;
    border-radius: 4px;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: .25rem 1rem;
    outline: none;
    padding: 0 1rem;
    line-height: 2.4rem;
    font-size: 16px;
}

.userfield:active, .userfield:focus, .userfield:focus-within{
    -webkit-box-shadow: inset 0 0 0 3px var(--secondary);
            box-shadow: inset 0 0 0 3px var(--secondary)
}

.form-block{
    width: 48%;
    display: inline-block;
}

.form-block input {
    width: 100%;
}


input[type=text],input[type=text],input[type=tel], textarea{
    width: 100%;

}

textarea {
    min-height: 135px;
}

#textmessage {
    margin-bottom: 1.2rem;
}

#name-email{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

form {
    text-align: center;
}

form div {
    text-align: left;
}

label {
    font-family: main;
    display: block;
    margin: 1rem 0;
}

.defs-only {
    position: absolute;
    height: 0; width: 0;
    overflow: none;
    left: -100%;
  }

#photos {
    -ms-grid-columns: auto 300px 12% 300px auto;
    grid-template-columns: auto 300px 12% 300px auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    display: -ms-grid;
    display: grid;
    text-align: left;
}



#photos p {
    font-size: 13pt;
    line-height: 25px;
}

#photos > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

#photos > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

#photos > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

#photos > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
}

#photos > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}



#photos p {
    font-weight: 100;
}

#photos img{
    -webkit-filter: url(#monochrome);
    filter:  url(#monochrome);
    width: 100%;
    max-width: 300px;
    z-index: -99;

}

#photos h3 {
    font-size: 1.8rem;
}

img.photo-left{
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -webkit-clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
            clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
}

img.photo-right{
    -ms-grid-column: 4;
        grid-column-start: 4;
    -ms-grid-column-span: 1;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -webkit-clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
            clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
}

h3.photo-right {
    -ms-grid-column: 4;
        grid-column-start: 4;
    -ms-grid-column-span: 1;
    grid-column-end: 5;
    -ms-grid-row: 2;
        grid-row-start: 2;
}

p.photo-right {
    -ms-grid-column: 4;
        grid-column-start: 4;
    -ms-grid-column-span: 1;
    grid-column-end: 5;
    -ms-grid-row: 3;
        grid-row-start: 3;
}

h3.photo-left {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
}

p.photo-left {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 3;
        grid-row-start: 3;
}

@media screen and (max-width: 900px) {
    #photos {
        -ms-grid-columns: auto 250px 40px 250px auto;
        grid-template-columns: auto 250px 40px 250px auto;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }
    #photos > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    #photos > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    #photos > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    #photos > *:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 4;
    }
    #photos > *:nth-child(5) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
}



@media screen and (max-width: 520px) 
{
    #photos {
        -ms-grid-columns: 1fr 5fr 1fr;
        grid-template-columns: 1fr 5fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }
    #photos > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    #photos > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    #photos > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    img.photo-right
    {
        padding-top: 50px;
        -ms-grid-column: 2;
            grid-column-start: 2;
        -ms-grid-column-span: 1;
        grid-column-end: 3;
        -ms-grid-row: 7;
            grid-row-start: 7;
        -ms-grid-row-span: 1;
        grid-row-end: 8;
    }

    h3.photo-right
    {
        -ms-grid-column: 2;
            grid-column-start: 2;
        -ms-grid-column-span: 1;
        grid-column-end: 3;
        -ms-grid-row: 8;
            grid-row-start: 8;
        -ms-grid-row-span: 1;
        grid-row-end: 9;
    }

    p.photo-right
    {
        -ms-grid-column: 2;
            grid-column-start: 2;
        -ms-grid-column-span: 1;
        grid-column-end: 3;
        -ms-grid-row: 9;
            grid-row-start: 9;
        -ms-grid-row-span: 1;
        grid-row-end: 10;
    }
}

#loading {
	width: 50px;
	height: 50px;
	background: var(--white);
	margin: auto;
	
	-webkit-box-shadow: 0px 0px 0 0px var(--secondary), 0px 0px 0 0px var(--tertiary);
	
	        box-shadow: 0px 0px 0 0px var(--secondary), 0px 0px 0 0px var(--tertiary);
	-webkit-animation: loading-animation 0.5s ease infinite;
	        animation: loading-animation 0.5s ease infinite;
	-webkit-animation-direction: alternate;
	        animation-direction: alternate;
}

#loading-container {
	position: absolute;
	top: 400px;
	width: 100%;
	z-index: -99;
	-webkit-animation: flip 2s steps(2) infinite;
	        animation: flip 2s steps(2) infinite;
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
}

@-webkit-keyframes loading-animation
{
	to { 
		-webkit-box-shadow: 20px -20px 0 20px var(--secondary), -20px 20px 0 20px var(--tertiary); 
		        box-shadow: 20px -20px 0 20px var(--secondary), -20px 20px 0 20px var(--tertiary);
		-webkit-transform: scale(0.7);
		        transform: scale(0.7);
	}
}

@keyframes loading-animation
{
	to { 
		-webkit-box-shadow: 20px -20px 0 20px var(--secondary), -20px 20px 0 20px var(--tertiary); 
		        box-shadow: 20px -20px 0 20px var(--secondary), -20px 20px 0 20px var(--tertiary);
		-webkit-transform: scale(0.7);
		        transform: scale(0.7);
	}
}

@-webkit-keyframes flip
{
	to {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

@keyframes flip
{
	to {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

.fade#nav { 
    -webkit-box-shadow: 2px 10px 30px 0px rgba(36, 26, 56, .5); 
            box-shadow: 2px 10px 30px 0px rgba(36, 26, 56, .5);
    padding-top: 12px;
    background: rgba(45, 26, 75, 0.7); 
    backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    -webkit-transition: padding-top 0.8s ease, background 0.4s ease, -webkit-box-shadow 0.4s ease;
    transition: padding-top 0.8s ease, background 0.4s ease, -webkit-box-shadow 0.4s ease;
    -o-transition: padding-top 0.8s ease, background 0.4s ease, box-shadow 0.4s ease;
    transition: padding-top 0.8s ease, background 0.4s ease, box-shadow 0.4s ease;
    transition: padding-top 0.8s ease, background 0.4s ease, box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
}

.fade svg {
    -webkit-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9)
}

svg {
    overflow: visible;
    --time: 0.15s;
    --delay-time: 0.1s;
    --reaseach-time: 0.05s;
    --reseach-delay-time: 0.021428571s;
}

#logo-h {
    -webkit-transition: opacity var(--reaseach-time) ease;
    -o-transition: opacity var(--reaseach-time) ease;
    transition: opacity var(--reaseach-time) ease;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*7);
            -o-transition-delay: calc(var(--reseach-delay-time)*7);
       transition-delay: calc(var(--reseach-delay-time)*7);

}

#logo-3-c {
    -webkit-transition: opacity var(--reaseach-time) ease;
    -o-transition: opacity var(--reaseach-time) ease;
    transition: opacity var(--reaseach-time) ease;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*6);
            -o-transition-delay: calc(var(--reseach-delay-time)*6);
       transition-delay: calc(var(--reseach-delay-time)*6);

}

#logo-2-r {
    -webkit-transition: opacity var(--reaseach-time) ease;
    -o-transition: opacity var(--reaseach-time) ease;
    transition: opacity var(--reaseach-time) ease;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*5);
            -o-transition-delay: calc(var(--reseach-delay-time)*5);
       transition-delay: calc(var(--reseach-delay-time)*5);

}

#logo-a {
    -webkit-transition: opacity var(--reaseach-time) ease;
    -o-transition: opacity var(--reaseach-time) ease;
    transition: opacity var(--reaseach-time) ease;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*4);
            -o-transition-delay: calc(var(--reseach-delay-time)*4);
       transition-delay: calc(var(--reseach-delay-time)*4);

}

#logo-2-e {
    -webkit-transition: opacity var(--reaseach-time) ease;
    -o-transition: opacity var(--reaseach-time) ease;
    transition: opacity var(--reaseach-time) ease;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*3);
            -o-transition-delay: calc(var(--reseach-delay-time)*3);
       transition-delay: calc(var(--reseach-delay-time)*3);

}

#logo-s {
    -webkit-transition: opacity var(--reaseach-time) ease;
    -o-transition: opacity var(--reaseach-time) ease;
    transition: opacity var(--reaseach-time) ease;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*2);
            -o-transition-delay: calc(var(--reseach-delay-time)*2);
       transition-delay: calc(var(--reseach-delay-time)*2);

}

#logo-e {
    -webkit-transition: opacity var(--reaseach-time) ease;
    -o-transition: opacity var(--reaseach-time) ease;
    transition: opacity var(--reaseach-time) ease;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*1);
            -o-transition-delay: calc(var(--reseach-delay-time)*1);
       transition-delay: calc(var(--reseach-delay-time)*1);

}

#logo-r {
    -webkit-transition: opacity var(--reaseach-time) ease;
    -o-transition: opacity var(--reaseach-time) ease;
    transition: opacity var(--reaseach-time) ease;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*0);
            -o-transition-delay: calc(var(--reseach-delay-time)*0);
       transition-delay: calc(var(--reseach-delay-time)*0);

}



.fade #logo-h {
    opacity: 0;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*0);
            -o-transition-delay: calc(var(--reseach-delay-time)*0);
       transition-delay: calc(var(--reseach-delay-time)*0);

}

.fade #logo-3-c {
    opacity: 0;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*1);
            -o-transition-delay: calc(var(--reseach-delay-time)*1);
       transition-delay: calc(var(--reseach-delay-time)*1);

}

.fade #logo-2-r {
    opacity: 0;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*2);
            -o-transition-delay: calc(var(--reseach-delay-time)*2);
       transition-delay: calc(var(--reseach-delay-time)*2);

}

.fade #logo-a {
    opacity: 0;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*3);
            -o-transition-delay: calc(var(--reseach-delay-time)*3);
       transition-delay: calc(var(--reseach-delay-time)*3);

}

.fade #logo-2-e {
    opacity: 0;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*4);
            -o-transition-delay: calc(var(--reseach-delay-time)*4);
       transition-delay: calc(var(--reseach-delay-time)*4);

}

.fade #logo-s {
    opacity: 0;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*5);
            -o-transition-delay: calc(var(--reseach-delay-time)*5);
       transition-delay: calc(var(--reseach-delay-time)*5);

}

.fade #logo-e {
    opacity: 0;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*6);
            -o-transition-delay: calc(var(--reseach-delay-time)*6);
       transition-delay: calc(var(--reseach-delay-time)*6);

}

.fade #logo-r {
    opacity: 0;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*7);
            -o-transition-delay: calc(var(--reseach-delay-time)*7);
       transition-delay: calc(var(--reseach-delay-time)*7);

}

.fade #Vivic {
    -webkit-transform: translateY(16px) scale(1.3) translateX(-11px);
            -ms-transform: translateY(16px) scale(1.3) translateX(-11px);
        transform: translateY(16px) scale(1.3) translateX(-11px);
    -webkit-transition-delay: var(--time);
            -o-transition-delay: var(--time);
       transition-delay: var(--time);
}

#Vivic {
    -webkit-transition: -webkit-transform 0.9s ease;
    transition: -webkit-transform 0.9s ease;
    -o-transition: transform 0.9s ease;
    transition: transform 0.9s ease;
    transition: transform 0.9s ease, -webkit-transform 0.9s ease;
}

.fade #logo-i {
    opacity: 0;
    -webkit-transition-delay: calc((var(--delay-time)*3) + var(--time));
            -o-transition-delay: calc((var(--delay-time)*3) + var(--time));
       transition-delay: calc((var(--delay-time)*3) + var(--time));
}

.fade #logo-2-v {
    opacity: 0;
    -webkit-transition-delay: calc((var(--delay-time)*2) + var(--time));
            -o-transition-delay: calc((var(--delay-time)*2) + var(--time));
       transition-delay: calc((var(--delay-time)*2) + var(--time));

}

.fade #logo-2-i {
    opacity: 0;
    -webkit-transition-delay: calc(var(--delay-time) + var(--time));
            -o-transition-delay: calc(var(--delay-time) + var(--time));
       transition-delay: calc(var(--delay-time) + var(--time));
}

.fade #logo-c {
    opacity: 0;
    -webkit-transition-delay: calc((var(--delay-time)*0) + var(--time));
            -o-transition-delay: calc((var(--delay-time)*0) + var(--time));
       transition-delay: calc((var(--delay-time)*0) + var(--time));
}

#logo-c {
    -webkit-transition: opacity var(--delay-time) ease;
    -o-transition: opacity var(--delay-time) ease;
    transition: opacity var(--delay-time) ease;
    -webkit-transition-delay: calc((var(--delay-time)*3) + var(--time));
            -o-transition-delay: calc((var(--delay-time)*3) + var(--time));
       transition-delay: calc((var(--delay-time)*3) + var(--time));
}

#logo-2-i {
    -webkit-transition: opacity var(--delay-time) ease;
    -o-transition: opacity var(--delay-time) ease;
    transition: opacity var(--delay-time) ease;
    -webkit-transition-delay: calc((var(--delay-time)*2) + var(--time));
            -o-transition-delay: calc((var(--delay-time)*2) + var(--time));
       transition-delay: calc((var(--delay-time)*2) + var(--time));
}

#logo-2-v {
    -webkit-transition: opacity var(--delay-time) ease;
    -o-transition: opacity var(--delay-time) ease;
    transition: opacity var(--delay-time) ease;
    -webkit-transition-delay: calc(var(--delay-time) + var(--time));
            -o-transition-delay: calc(var(--delay-time) + var(--time));
       transition-delay: calc(var(--delay-time) + var(--time));
}

#logo-i {
    -webkit-transition: opacity var(--delay-time) ease;
    -o-transition: opacity var(--delay-time) ease;
    transition: opacity var(--delay-time) ease;
    -webkit-transition-delay: calc((var(--delay-time)*0) + var(--time));
            -o-transition-delay: calc((var(--delay-time)*0) + var(--time));
       transition-delay: calc((var(--delay-time)*0) + var(--time));
}

.fade #Vivic-Logo {
    -webkit-transform: translateX(94px);
            -ms-transform: translateX(94px);
        transform: translateX(94px);
    -webkit-transition-delay: var(--time);
            -o-transition-delay: var(--time);
       transition-delay: var(--time);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

#Vivic-Logo {
    -webkit-transform: translateX(-10px);
            -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.fade #about-link {
    -webkit-transform: translateX(105px);
            -ms-transform: translateX(105px);
        transform: translateX(105px);
    -webkit-transition-delay: var(--time);
            -o-transition-delay: var(--time);
       transition-delay: var(--time);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

#about-link {
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.fade #contact-link {
    -webkit-transform: translateX(-100px);
            -ms-transform: translateX(-100px);
        transform: translateX(-100px);
    -webkit-transition-delay: var(--time);
            -o-transition-delay: var(--time);
       transition-delay: var(--time);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

#contact-link {
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

svg {
    pointer-events: none;
    overflow: visible;
}

#Center {
    z-index: 999;
    pointer-events: all;
    visibility: visible;
}

#BlueCircle text {
    fill: black;
    -webkit-transition: fill 1s;
    -o-transition: fill 1s;
    transition: fill 1s;
}

#VivicVenn {
    isolation: isolate;
}

#Test {
    mix-blend-mode: darken;
}

#PinkCircle {
    mix-blend-mode: color-dodge;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    pointer-events: none;
}

#Center~#PinkCircle .fadein {
    fill-opacity: 0;

}

#Center:hover~#PinkCircle .fadein {
    fill-opacity: 1;
    -webkit-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
    -webkit-transition: fill-opacity .2s ease;
    -o-transition: fill-opacity .2s ease;
    transition: fill-opacity .2s ease;
}

#Center:hover~#PinkCircle #text-group {
    -webkit-transform: translateX(-9.5px);
        -ms-transform: translateX(-9.5px);
            transform: translateX(-9.5px);
}

#Center:hover~#BlueCircle text {
    fill-opacity: 0;
    -webkit-transition: fill-opacity .1s;
    -o-transition: fill-opacity .1s;
    transition: fill-opacity .1s;
}

#Center~#BlueCircle text {
    fill-opacity: 1;
    -webkit-transition-delay: 1s;
         -o-transition-delay: 1s;
            transition-delay: 1s;
    -webkit-transition: fill-opacity .9s;
    -o-transition: fill-opacity .9s;
    transition: fill-opacity .9s;
}


#BlueCircleClick {
    pointer-events: all;
}

#PinkCircleClick {
    pointer-events: all;
}

#PinkCircleClick:hover~#PinkCircle>g>circle {
    -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
        transform: scale(1.1);
    -webkit-transition: -webkit-transform .1s ease;
    transition: -webkit-transform .1s ease;
    -o-transition: transform .1s ease;
    transition: transform .1s ease;
    transition: transform .1s ease, -webkit-transform .1s ease;
}

#BlueCircleClick:hover~#BlueCircle>g>circle {
    -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
        transform: scale(1.1);
    -webkit-transition: -webkit-transform .1s ease;
    transition: -webkit-transform .1s ease;
    -o-transition: transform .1s ease;
    transition: transform .1s ease;
    transition: transform .1s ease, -webkit-transform .1s ease;
}

#PinkCircleClick~#PinkCircle>g>circle {
    -webkit-transform: scale(1);
            -ms-transform: scale(1);
        transform: scale(1);
    -webkit-transition: -webkit-transform .1s ease;
    transition: -webkit-transform .1s ease;
    -o-transition: transform .1s ease;
    transition: transform .1s ease;
    transition: transform .1s ease, -webkit-transform .1s ease;
}

#BlueCircleClick~#BlueCircle>g>circle {
    -webkit-transform: scale(1);
            -ms-transform: scale(1);
        transform: scale(1);
    -webkit-transition: -webkit-transform .1s ease;
    transition: -webkit-transform .1s ease;
    -o-transition: transform .1s ease;
    transition: transform .1s ease;
    transition: transform .1s ease, -webkit-transform .1s ease;
}

#BlueCircle {
    mix-blend-mode: color-dodge;
    /* transform: translateX(776.283px, 254.215px); */
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
    pointer-events: none;
}

#Center:Hover~#PinkCircle {
    -webkit-transform: translateX(90.75px);
            -ms-transform: translateX(90.75px);
        transform: translateX(90.75px);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;

}

#Center:Hover~#BlueCircle {
    -webkit-transform: translateX(-90.75px);
            -ms-transform: translateX(-90.75px);
        transform: translateX(-90.75px);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;

}

#box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    isolation: isolate;
}

#circlepink {
    background-color: var(--secondary);
    -webkit-transform: translateX(15px);
            -ms-transform: translateX(15px);
        transform: translateX(15px);
    mix-blend-mode: color-dodge;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

#circleblue {
    background-color: var(--tertiary);
    -webkit-transform: translateX(-15px);
            -ms-transform: translateX(-15px);
        transform: translateX(-15px);
    mix-blend-mode: color-dodge;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#center {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}

#circlepink #center:hover {
    -webkit-transform: translateX(50px);
            -ms-transform: translateX(50px);
        transform: translateX(50px);
}

#circlepink:hover {
    -webkit-transform: translateX(50px);
            -ms-transform: translateX(50px);
        transform: translateX(50px);
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;

}

.move#circleblue {
    -webkit-transform: translateX(-50px);
            -ms-transform: translateX(-50px);
        transform: translateX(-50px);
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;

}

#contact-area {
    margin: 80px 8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;

}

a.cont-cta {
    margin-left: unset;

}

@media screen and (max-width: 520px) {

    .fade #contact-link
    {
        -webkit-transform: translateX(-45px);
            -ms-transform: translateX(-45px);
                transform: translateX(-45px);
    } 

    #contact-link
    {
        -webkit-transform: translateX(-45px);
            -ms-transform: translateX(-45px);
                transform: translateX(-45px);
    } 

    .fade #about-link
    {
        -webkit-transform: translateX(48px);
            -ms-transform: translateX(48px);
                transform: translateX(48px);
    }

    #about-link
    {
        -webkit-transform: translateX(48px);
            -ms-transform: translateX(48px);
                transform: translateX(48px);
    }

    .fade svg {
        -webkit-transform: unset;
            -ms-transform: unset;
                transform: unset;
    }

    .fade #Vivic-Logo {
        -webkit-transform: translateX(-65px);
            -ms-transform: translateX(-65px);
                transform: translateX(-65px)
    }

    #logo-i {
        opacity: 0;
    }
    
    #logo-2-v {
        opacity: 0;
    
    }
    
    #logo-2-i {
        opacity: 0;
    }
    
    #logo-c {
        opacity: 0;
    }

    #logo-h {
        opacity: 0;
    }
    
    #logo-3-c {
        opacity: 0;
    }
    
    #logo-2-r {
        opacity: 0;
    }
    
    #logo-a {
        opacity: 0;
    }
    
    #logo-2-e {
        opacity: 0;
    }
    
    #logo-s {
        opacity: 0;
    }
    
    #logo-e {
        opacity: 0;
    }
    
    #logo-r {
        opacity: 0;
    }
    #Vivic {
        -webkit-transform: translateY(16px) scale(1.3) translateX(-11px);
        -ms-transform: translateY(16px) scale(1.3) translateX(-11px);
    transform: translateY(16px) scale(1.3) translateX(-11px);
    }

    #Vivic-Logo {
        -webkit-transform: translateX(-65px);
            -ms-transform: translateX(-65px);
                transform: translateX(-65px);
    }
    #mainlogo {
        -webkit-transform: scale(0.6);
            -ms-transform: scale(0.6);
                transform: scale(0.6);
        width: unset;
    }
}

@media screen and (max-width: 800px) {
    #our-work{
        height: 250px;
    }
}

@media screen and (max-width: 620px) {
    #our-work{
        height: 300px;
    }
}

@media screen and (max-width: 540px) {
    #maincontent {
        margin: 250px 0 0;
    }

    #our-work{
        height: 400px;
    }

}


@media screen and (max-width: 320px) {
    h1 {
        font-size: 35px;
    }
    .pillar {
        margin: 50px 0 0 0;
    }

    .fade #Vivic-Logo {
        -webkit-transform: translateX(-81px);
            -ms-transform: translateX(-81px);
                transform: translateX(-81px);
    }

    #Vivic-Logo {
        -webkit-transform: translateX(-81px);
            -ms-transform: translateX(-81px);
                transform: translateX(-81px);
    }

    #our-work{
        height: 500px;
    }

    

   
}

