@font-face
{
    font-family: "main";
    src: url('/assets/Fonts/Font-Medium.woff2') format('woff2'),
        url('/assets/Fonts/Font-Medium.woff') format('woff'),
        url('/assets/Fonts/Font-Medium.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face
{
    font-family: "main";
    src: url('/assets/Fonts/Font-Bold.woff2') format('woff2'),
        url('/assets/Fonts/Font-Bold.woff') format('woff'),
        url('/assets/Fonts/Font-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face
{
    font-family: "main";
    src: url('/assets/Fonts/Font-Light.woff2') format('woff2'),
        url('/assets/Fonts/Font-Light.woff') format('woff'),
        url('/assets/Fonts/Font-Light.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face
{
    font-family: "main";
    src: url('/assets/Fonts/Font-Book.woff2') format('woff2'),
        url('/assets/Fonts/Font-Book.woff') format('woff'),
        url('/assets/Fonts/Font-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --main: #262260;
    --secondary: #f55a8a;
    --tertiary: #7de5e5;
    --dark: #1a1229;
    --white: #ffffff
}

::selection {
    color: var(--white);
    background: var(--secondary);
  }


body {
    color: var(--white);
    min-height: 100vh;
    background-image: radial-gradient(88% 140% at 120% -5%,#482979, #40256b, #38215e, #301d51, #291943, #211536, var(--dark) 80%);
    /* background-position: 1000px 100px; */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--dark);
}

header{
    margin: 3rem 0;
    margin-left: 50px;
    text-align: center;
}

svg {
    width: 85%;
}

#maincontent {
    font-family: main;
    padding: 150px 0 0 0;

}

#hero {
    margin: 80px 8%;
    font-family: main;
    width: 65%;
}

#hero p {
    width: 75%;
    font-weight: 100;
    font-size: 14pt;


}

#contact {
    width: 50%;
    margin: auto;
}

#about {

    max-width: 700px;
    margin: 0 auto 75px auto;
    padding: 20px;
    /* line-height: 1.2rem; */
    font-weight: 100;
}


h1 {
    font-family: main;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 50px;
    letter-spacing: 4px;
}

#title-contact {
    text-align: center;
}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#nav .link {
    font-family: main;
    font-weight: 400;
    font-size: 18pt;
    text-transform: uppercase;
    margin: auto 50px;
    text-decoration: none;
    color: inherit
}

#nav .link::after {
    content: '';
    margin-top: 0.3rem;
    display: block;
    width: 0;
    opacity: 0.7;
    height: 2px;
    background: var(--white);
    transition: width 0.3s;
}

#nav a:hover::after {
    opacity: 1;
    width: 100%;
}

#logo-link {
    width: 15%;
}

#form {
    width: 100%;
    margin: auto;
}

button {
    width: 100%;
    font-family: main;
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    padding: .25rem 1rem;
    line-height: 2.25rem;
    background-color: var(--secondary);
    border: 0;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    /* letter-spacing: .04em; */
}

button:hover{
    background-color: var(--secondary);
    color: var(--white)
}

button:focus-visible{
    background-color: var(--secondary);
    color: var(--white);
}

.userfield {
    margin: 0 1rem;
    margin-left: 0;
    border-radius: 4px;
    border: 0;
    box-sizing: border-box;
    padding: .25rem 1rem;
    outline: none;
    padding: 0 1rem;
    line-height: 2.4rem;
    font-size: 16px;
}

.userfield:active, .userfield:focus, .userfield:focus-within{
    box-shadow: inset 0 0 0 3px var(--secondary)
}

.form-block{
    width: 48%;
    /* margin: auto; */
    display: inline-block;
}

.form-block input {
    width: 100%;
}


input[type=text],input[type=text],input[type=tel], textarea{
    width: 100%;

}

textarea {
    min-height: 135px;
}

#textmessage {
    margin-bottom: 1.2rem;
}

#name-email{
    display: flex;
    justify-content: space-between;
}

form {
    text-align: center;
}

form div {
    text-align: left;
}

label {
    font-family: main;
    display: block;
    margin: 1rem 0;
}

.defs-only {
    position: absolute;
    height: 0; width: 0;
    overflow: none;
    left: -100%;
  }

#photos {
    grid-template-columns: auto 250px 12% 250px auto;
    grid-template-rows: auto;
    display: grid;
    text-align: left;
}

#photos p {
    font-weight: 100;
}

#photos img{

    /* -webkit-filter: url(#monochrome); */
    /* filter:  url(#monochrome); */
    width: 100%;
    max-width: 300px;

}

#photos h3 {
    font-size: 1.8rem;
}

img.photo-left{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
}

img.photo-right{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
}

h3.photo-right {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
}

p.photo-right {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
}

h3.photo-left {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

p.photo-left {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
}

#loading {
	width: 50px;
	height: 50px;
	background: var(--white);
	margin: auto;
	
	box-shadow: 0px 0px 0 0px var(--secondary), 0px 0px 0 0px var(--tertiary);
	animation: loading-animation 1s ease infinite;
	animation-direction: alternate;
}

#loading-container {
	position: absolute;
	top: 200px;
	width: 100%;
	z-index: -99;
	animation: flip 2s steps(1) infinite;
}

@keyframes loading-animation
{
	to { 
		box-shadow: 20px -20px 0 20px var(--secondary), -20px 20px 0 20px var(--tertiary);
		transform: scale(0.7);
	}
}

@keyframes flip
{
	to {
		transform: rotate(180deg);
	}
}