---
interface CtaProps {
	link: string,
	idName?: string,
	className?: string
}
const { link, idName, className } = Astro.props as CtaProps;
---

<a href={link} id={idName} class={className}>
	<slot/>
</a>

<style>
a {
	display: block;
	max-width: 130px;
	margin: 0 auto;
	padding: 15px 20px;

	background: var(--white);
	color: var(--dark);
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;

	box-shadow: 3px -3px 0 3px var(--secondary),
	            -3px 3px 0 3px var(--tertiary);
	transition: all 0.4s ease;
}

a:hover, a:focus {
	box-shadow: 5px -5px 0 5px var(--secondary),
	            -5px 5px 0 5px var(--tertiary);
	transform: scale(0.95);
}
</style>