<header id=nav>
    <a href="/about" class="link left-link" id="about-link">about</a>
    <a href="/contact" class="link left-link" id="contact-link">contact</a>
    <a id="logo-link" href="/">
        <svg id="mainlogo" xmlns="http://www.w3.org/2000/svg" width="302.719" height="116.926"
            viewBox="0 0 302.719 116.926">
            <g id="Vivic-Logo" transform="translate(-3.631 -1.532)">
                <g id="Logo">
                    <path id="Path_25" data-name="Path 25"
                        d="M21.58,38.27H4.45a.71.71,0,0,0-.69,1.11l39.31,78.68a.73.73,0,0,0,1.38-.33V38.27Z"
                        fill="#7ee6e6" />
                    <path id="Path_26" data-name="Path 26" d="M44.45,38.27V84.02L21.58,38.27Z" fill="#fff"
                        style="isolation: isolate" />
                    <path id="Path_27" data-name="Path 27"
                        d="M44.45,2.3v36H21.58L3.76,2.65a.71.71,0,0,1,.69-1.11H43.68a.77.77,0,0,1,.77.76Z"
                        fill="#f55a8a" />
                </g>
                <g id="Vivic">
                    <path id="logo-v" data-name="Path 28"
                        d="M55.14,16.57H65.4l7.65,22.89,7.72-22.89H90.84L77.39,51h-8.8Z" fill="#fff" />
                    <path id="logo-i" data-name="Path 29" d="M95.51,16.57h9.69V51H95.51Z" fill="#fff" />
                    <path id="logo-2-v" data-name="Path 30"
                        d="M109.77,16.57H120l7.65,22.89,7.72-22.89h10.07L132,51h-8.8Z" fill="#fff" />
                    <path id="logo-2-i" data-name="Path 31" d="M150.14,16.57h9.69V51h-9.69Z" fill="#fff" />
                    <path id="logo-c" data-name="Path 32"
                        d="M166.27,33.85v-.13a17.54,17.54,0,0,1,17.91-17.78c6.44,0,10.46,2.16,13.65,5.74l-5.93,6.37c-2.17-2.29-4.34-3.76-7.78-3.76-4.85,0-8.29,4.27-8.29,9.31v.12c0,5.23,3.38,9.44,8.67,9.44,3.25,0,5.48-1.4,7.84-3.63L198,45.26a17.223,17.223,0,0,1-14,6.25,17.44,17.44,0,0,1-17.73-17.66Z"
                        fill="#fff" />
                </g>
                <g id="Research">
                    <path id="logo-r" data-name="Path 33"
                        d="M81.35,69.54c-7.52,0-14.09,5.67-14.09,16.26V99.42H64.14V65.94h3.12v9.91c2.55-5.8,8-10,14.41-9.75v3.44Z"
                        fill="#fff" />
                    <path id="logo-e" data-name="Path 34"
                        d="M100.27,97a14.58,14.58,0,0,0,11.15-5.1l2.17,1.92c-3.31,3.57-7.2,6.12-13.45,6.12-8.54,0-15.94-6.83-15.94-17V82.8c0-9.44,6.63-17,15.43-17,9.12,0,14.92,7.4,14.92,17V83a6.68,6.68,0,0,1-.07,1.15h-27C88.09,92.23,93.89,97,100.27,97Zm10.9-15.62c-.45-6.56-4.21-12.62-11.67-12.62-6.44,0-11.41,5.42-12,12.62Z"
                        fill="#fff" />
                    <path id="logo-s" data-name="Path 35"
                        d="M132.54,99.76A22.26,22.26,0,0,1,119.21,95l1.85-2.49a19,19,0,0,0,11.67,4.27c4.4,0,7.84-2.42,7.84-6.18v-.13c0-3.82-4.08-5.22-8.61-6.5-5.29-1.53-11.15-3.12-11.15-8.92V75c0-5.23,4.4-9,10.71-9a21.92,21.92,0,0,1,11.54,3.57l-1.66,2.61a18.75,18.75,0,0,0-10-3.25c-4.46,0-7.39,2.42-7.39,5.67v.13c0,3.64,4.39,5,9.05,6.31,5.23,1.47,10.71,3.38,10.71,9.12v.13C143.76,96.06,138.79,99.76,132.54,99.76Z"
                        fill="#fff" />
                    <path id="logo-2-e" data-name="Path 36"
                        d="M164.41,97a14.58,14.58,0,0,0,11.15-5.1l2.17,1.92c-3.31,3.57-7.2,6.12-13.45,6.12-8.54,0-15.94-6.83-15.94-17V82.8c0-9.44,6.63-17,15.43-17,9.12,0,14.92,7.4,14.92,17V83a6.68,6.68,0,0,1-.07,1.15h-27C152.23,92.23,158,97,164.41,97Zm10.9-15.62c-.45-6.56-4.21-12.62-11.67-12.62-6.44,0-11.41,5.42-12,12.62Z"
                        fill="#fff" />
                    <path id="logo-a" data-name="Path 37"
                        d="M209.54,99.42V93.7a14.8,14.8,0,0,1-12.43,6.19c-6.06,0-12.56-3.45-12.56-10.21v-.12c0-6.76,5.8-10.59,14.21-10.59a39.05,39.05,0,0,1,10.78,1.41V79c0-6.56-4-9.94-10.71-9.94a21.77,21.77,0,0,0-10.2,2.61l-1.15-2.74A26.1,26.1,0,0,1,199,66.1c8.35,0,13.58,4.33,13.58,12.75V99.42Zm.06-16.17a42.649,42.649,0,0,0-11-1.47c-6.88,0-10.71,3.06-10.71,7.59v.12c0,4.72,4.47,7.46,9.44,7.46,6.63,0,12.3-4.08,12.3-10Z"
                        fill="#fff" />
                    <path id="logo-2-r" data-name="Path 38"
                        d="M239.46,69.54c-7.52,0-14.09,5.67-14.09,16.26V99.42h-3.13V65.94h3.13v9.91c2.55-5.8,8-10,14.41-9.75v3.44Z"
                        fill="#fff" />
                    <path id="logo-3-c" data-name="Path 39"
                        d="M258.6,99.89A16.73,16.73,0,0,1,242,83v-.13c0-9.11,7.27-17,16.57-17,6.12,0,9.95,2.81,13,6l-2.23,2.3c-2.81-2.87-6-5.36-10.84-5.36-7.39,0-13.13,6.19-13.13,14v.12c0,7.84,5.93,14.09,13.38,14.09,4.6,0,8.17-2.36,10.91-5.42l2.17,1.92C268.55,97.21,264.6,99.89,258.6,99.89Z"
                        fill="#fff" />
                    <path id="logo-h" data-name="Path 40"
                        d="M303.23,99.42V79.8c0-6.69-3.76-11.09-10.33-11.09-6.37,0-11.28,4.84-11.28,11.6V99.42h-3.13V52.58h3.13V72.66a12.74,12.74,0,0,1,11.73-6.82c8.22,0,13,5.61,13,13.39V99.42Z"
                        fill="#fff" />
                </g>
            </g>
        </svg>
    </a>
    <a href="/work" class="link right-link" id="work-link">Work</a>
    <a href="/index.html#prioities" class="link right-link" id="pri-link">priorities</a>
</header>

<script >
     const header_height = 70;
     const add_class_one_scroll = () => {
            const header = document.getElementById('nav')
            header.classList.add("fade");
        }
        const remove_class_on_scroll = () => {
            const header = document.getElementById('nav')
            header.classList.remove("fade");
        }

        window.addEventListener('scroll', () => {
            let scrollpos = window.scrollY
            scrollpos = window.scrollY;

            if (scrollpos >= header_height) {
                add_class_one_scroll()
            } else {
                remove_class_on_scroll()
            }
        })
</script>

<style>
header {
    text-align: center;
}
#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 10px;
    z-index: 999;
    -webkit-transition: background 0.4s ease, padding-top 0.4s ease, -webkit-box-shadow 0.4s ease;
    transition: background 0.4s ease, padding-top 0.4s ease, -webkit-box-shadow 0.4s ease;
    -o-transition: background 0.4s ease, padding-top 0.4s ease, box-shadow 0.4s ease;
    transition: background 0.4s ease, padding-top 0.4s ease, box-shadow 0.4s ease;
    transition: background 0.4s ease, padding-top 0.4s ease, box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
}

.fade#nav {
    -webkit-box-shadow: 2px 10px 30px 0px rgba(36, 26, 56, .5);
    box-shadow: 2px 10px 30px 0px rgba(36, 26, 56, .5);
    padding-top: 15px;
    padding-bottom: 5px;
    background: rgba(45, 26, 75, 0.7);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -webkit-transition: padding-top 0.8s ease, background 0.4s ease, -webkit-box-shadow 0.4s ease;
    transition: padding-top 0.8s ease, background 0.4s ease, -webkit-box-shadow 0.4s ease;
    -o-transition: padding-top 0.8s ease, background 0.4s ease, box-shadow 0.4s ease;
    transition: padding-top 0.8s ease, background 0.4s ease, box-shadow 0.4s ease;
    transition: padding-top 0.8s ease, background 0.4s ease, box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
}

.fade svg {
    -webkit-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9)
}

svg {
    overflow: visible;
    --time: 0.15s;
    --delay-time: 0.1s;
    --reaseach-time: 0.05s;
    --reseach-delay-time: 0.021428571s;
}

#logo-h {
    -webkit-transition: opacity var(--reaseach-time) ease;
    -o-transition: opacity var(--reaseach-time) ease;
    transition: opacity var(--reaseach-time) ease;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*7);
    -o-transition-delay: calc(var(--reseach-delay-time)*7);
    transition-delay: calc(var(--reseach-delay-time)*7);

}

#logo-3-c {
    -webkit-transition: opacity var(--reaseach-time) ease;
    -o-transition: opacity var(--reaseach-time) ease;
    transition: opacity var(--reaseach-time) ease;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*6);
    -o-transition-delay: calc(var(--reseach-delay-time)*6);
    transition-delay: calc(var(--reseach-delay-time)*6);

}

#logo-2-r {
    -webkit-transition: opacity var(--reaseach-time) ease;
    -o-transition: opacity var(--reaseach-time) ease;
    transition: opacity var(--reaseach-time) ease;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*5);
    -o-transition-delay: calc(var(--reseach-delay-time)*5);
    transition-delay: calc(var(--reseach-delay-time)*5);

}

#logo-a {
    -webkit-transition: opacity var(--reaseach-time) ease;
    -o-transition: opacity var(--reaseach-time) ease;
    transition: opacity var(--reaseach-time) ease;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*4);
    -o-transition-delay: calc(var(--reseach-delay-time)*4);
    transition-delay: calc(var(--reseach-delay-time)*4);

}

#logo-2-e {
    -webkit-transition: opacity var(--reaseach-time) ease;
    -o-transition: opacity var(--reaseach-time) ease;
    transition: opacity var(--reaseach-time) ease;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*3);
    -o-transition-delay: calc(var(--reseach-delay-time)*3);
    transition-delay: calc(var(--reseach-delay-time)*3);

}

#logo-s {
    -webkit-transition: opacity var(--reaseach-time) ease;
    -o-transition: opacity var(--reaseach-time) ease;
    transition: opacity var(--reaseach-time) ease;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*2);
    -o-transition-delay: calc(var(--reseach-delay-time)*2);
    transition-delay: calc(var(--reseach-delay-time)*2);

}

#logo-e {
    -webkit-transition: opacity var(--reaseach-time) ease;
    -o-transition: opacity var(--reaseach-time) ease;
    transition: opacity var(--reaseach-time) ease;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*1);
    -o-transition-delay: calc(var(--reseach-delay-time)*1);
    transition-delay: calc(var(--reseach-delay-time)*1);

}

#logo-r {
    -webkit-transition: opacity var(--reaseach-time) ease;
    -o-transition: opacity var(--reaseach-time) ease;
    transition: opacity var(--reaseach-time) ease;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*0);
    -o-transition-delay: calc(var(--reseach-delay-time)*0);
    transition-delay: calc(var(--reseach-delay-time)*0);

}



.fade #logo-h {
    opacity: 0;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*0);
    -o-transition-delay: calc(var(--reseach-delay-time)*0);
    transition-delay: calc(var(--reseach-delay-time)*0);

}

.fade #logo-3-c {
    opacity: 0;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*1);
    -o-transition-delay: calc(var(--reseach-delay-time)*1);
    transition-delay: calc(var(--reseach-delay-time)*1);

}

.fade #logo-2-r {
    opacity: 0;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*2);
    -o-transition-delay: calc(var(--reseach-delay-time)*2);
    transition-delay: calc(var(--reseach-delay-time)*2);

}

.fade #logo-a {
    opacity: 0;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*3);
    -o-transition-delay: calc(var(--reseach-delay-time)*3);
    transition-delay: calc(var(--reseach-delay-time)*3);

}

.fade #logo-2-e {
    opacity: 0;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*4);
    -o-transition-delay: calc(var(--reseach-delay-time)*4);
    transition-delay: calc(var(--reseach-delay-time)*4);

}

.fade #logo-s {
    opacity: 0;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*5);
    -o-transition-delay: calc(var(--reseach-delay-time)*5);
    transition-delay: calc(var(--reseach-delay-time)*5);

}

.fade #logo-e {
    opacity: 0;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*6);
    -o-transition-delay: calc(var(--reseach-delay-time)*6);
    transition-delay: calc(var(--reseach-delay-time)*6);

}

.fade #logo-r {
    opacity: 0;
    -webkit-transition-delay: calc(var(--reseach-delay-time)*7);
    -o-transition-delay: calc(var(--reseach-delay-time)*7);
    transition-delay: calc(var(--reseach-delay-time)*7);

}

.fade #Vivic {
    -webkit-transform: translateY(16px) scale(1.3) translateX(-11px);
    -ms-transform: translateY(16px) scale(1.3) translateX(-11px);
    transform: translateY(16px) scale(1.3) translateX(-11px);
    -webkit-transition-delay: var(--time);
    -o-transition-delay: var(--time);
    transition-delay: var(--time);
}

#Vivic {
    -webkit-transition: -webkit-transform 0.9s ease;
    transition: -webkit-transform 0.9s ease;
    -o-transition: transform 0.9s ease;
    transition: transform 0.9s ease;
    transition: transform 0.9s ease, -webkit-transform 0.9s ease;
}

.fade #logo-i {
    opacity: 0;
    -webkit-transition-delay: calc((var(--delay-time)*3) + var(--time));
    -o-transition-delay: calc((var(--delay-time)*3) + var(--time));
    transition-delay: calc((var(--delay-time)*3) + var(--time));
}

.fade #logo-2-v {
    opacity: 0;
    -webkit-transition-delay: calc((var(--delay-time)*2) + var(--time));
    -o-transition-delay: calc((var(--delay-time)*2) + var(--time));
    transition-delay: calc((var(--delay-time)*2) + var(--time));

}

.fade #logo-2-i {
    opacity: 0;
    -webkit-transition-delay: calc(var(--delay-time) + var(--time));
    -o-transition-delay: calc(var(--delay-time) + var(--time));
    transition-delay: calc(var(--delay-time) + var(--time));
}

.fade #logo-c {
    opacity: 0;
    -webkit-transition-delay: calc((var(--delay-time)*0) + var(--time));
    -o-transition-delay: calc((var(--delay-time)*0) + var(--time));
    transition-delay: calc((var(--delay-time)*0) + var(--time));
}

#logo-c {
    -webkit-transition: opacity var(--delay-time) ease;
    -o-transition: opacity var(--delay-time) ease;
    transition: opacity var(--delay-time) ease;
    -webkit-transition-delay: calc((var(--delay-time)*3) + var(--time));
    -o-transition-delay: calc((var(--delay-time)*3) + var(--time));
    transition-delay: calc((var(--delay-time)*3) + var(--time));
}

#logo-2-i {
    -webkit-transition: opacity var(--delay-time) ease;
    -o-transition: opacity var(--delay-time) ease;
    transition: opacity var(--delay-time) ease;
    -webkit-transition-delay: calc((var(--delay-time)*2) + var(--time));
    -o-transition-delay: calc((var(--delay-time)*2) + var(--time));
    transition-delay: calc((var(--delay-time)*2) + var(--time));
}

#logo-2-v {
    -webkit-transition: opacity var(--delay-time) ease;
    -o-transition: opacity var(--delay-time) ease;
    transition: opacity var(--delay-time) ease;
    -webkit-transition-delay: calc(var(--delay-time) + var(--time));
    -o-transition-delay: calc(var(--delay-time) + var(--time));
    transition-delay: calc(var(--delay-time) + var(--time));
}

#logo-i {
    -webkit-transition: opacity var(--delay-time) ease;
    -o-transition: opacity var(--delay-time) ease;
    transition: opacity var(--delay-time) ease;
    -webkit-transition-delay: calc((var(--delay-time)*0) + var(--time));
    -o-transition-delay: calc((var(--delay-time)*0) + var(--time));
    transition-delay: calc((var(--delay-time)*0) + var(--time));
}

.fade #Vivic-Logo {
    -webkit-transform: translateX(94px);
    -ms-transform: translateX(94px);
    transform: translateX(94px);
    -webkit-transition-delay: var(--time);
    -o-transition-delay: var(--time);
    transition-delay: var(--time);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

#Vivic-Logo {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.fade .left-link {
    -webkit-transform: translateX(105px);
    -ms-transform: translateX(105px);
    transform: translateX(105px);
    -webkit-transition-delay: var(--time);
    -o-transition-delay: var(--time);
    transition-delay: var(--time);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.left-link {
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.fade .right-link {
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition-delay: var(--time);
    -o-transition-delay: var(--time);
    transition-delay: var(--time);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.right-link {
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

#pri-link {
    margin-left: 0 !important;
}

#about-link {
    margin-right: 0 !important;
}

#nav .link {
    font-family: main;
    font-weight: 400;
    text-transform: uppercase;
    margin: auto 50px;
    text-decoration: none;
    color: inherit;
    font-size: 13pt;
    letter-spacing: 0.2em;
}

.link::after {
    content: '';
    margin-top: 0.3rem;
    display: block;
    width: 0;
    opacity: 0.7;
    height: 2px;
    background: var(--white);
    -webkit-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

a:hover::after {
    opacity: 1;
    width: 100%;
}

#logo-link {
    width: 15%;
}

@media only screen and (max-width: 1150px) {
    #logo-link {
        width: 25%;
    }
}


@media screen and (max-width: 815px) {
    #nav .link {
        margin: auto 35px;
    }

}

@media screen and (max-width: 725px) {
    #nav .link {
        margin: auto 25px;
    }

    .fade .right-link {
        -webkit-transform: translateX(-66px);
        -ms-transform: translateX(-66px);
        transform: translateX(-66px);
    }

    .fade .left-link {
        -webkit-transform: translateX(67px);
        -ms-transform: translateX(67px);
        transform: translateX(67px);
    }

}

@media screen and (max-width: 575px) {
    #nav .link {
        font-size: 9pt;
    }
}

@media screen and (max-width: 520px) {

    #nav .link {
        margin: auto 5px;
    }

    #contact-link {
        margin-right: 28px !important;
    }

    #work-link {
        margin-left: 28px !important;
    }

    .fade .right-link {
        -webkit-transform: translateX(-45px);
        -ms-transform: translateX(-45px);
        transform: translateX(-45px);
    }

    .right-link {
        -webkit-transform: translateX(-45px);
        -ms-transform: translateX(-45px);
        transform: translateX(-45px);
    }

    .fade .left-link {
        -webkit-transform: translateX(48px);
        -ms-transform: translateX(48px);
        transform: translateX(48px);
    }

    .left-link {
        -webkit-transform: translateX(48px);
        -ms-transform: translateX(48px);
        transform: translateX(48px);
    }

    .fade svg {
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
    }

    .fade #Vivic-Logo {
        -webkit-transform: translateX(-187px);
        -ms-transform: translateX(-187px);
        transform: translateX(-187px)
    }

    #logo-i {
        opacity: 0;
    }

    #logo-2-v {
        opacity: 0;

    }

    #logo-2-i {
        opacity: 0;
    }

    #logo-c {
        opacity: 0;
    }

    #logo-h {
        opacity: 0;
    }

    #logo-3-c {
        opacity: 0;
    }

    #logo-2-r {
        opacity: 0;
    }

    #logo-a {
        opacity: 0;
    }

    #logo-2-e {
        opacity: 0;
    }

    #logo-s {
        opacity: 0;
    }

    #logo-e {
        opacity: 0;
    }

    #logo-r {
        opacity: 0;
    }

    #Vivic {
        -webkit-transform: translateY(16px) scale(1.3) translateX(-11px);
        -ms-transform: translateY(16px) scale(1.3) translateX(-11px);
        transform: translateY(16px) scale(1.3) translateX(-11px);
    }

    #Vivic-Logo {
        -webkit-transform: translateX(-187px);
        -ms-transform: translateX(-187px);
        transform: translateX(-187px);
    }

    #mainlogo {
        -webkit-transform: scale(0.35);
        -ms-transform: scale(0.35);
        transform: scale(0.35);
        width: unset;
    }
}
</style>