<!DOCTYPE html>
<html lang="en">

<head>
    {% include meta.html %}
</head>

<body>
    <svg class="defs-only">
        <filter id="monochrome" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
            <feColorMatrix result="original" id="svgcolormatrix" type="matrix"
                values="0.8 0 0 0 -0.1 0 0.5 0 0 0 0 0 1 0 0 0 0 0 1 -0.04"></feColorMatrix>
        </filter>
    </svg>
    {% include nav.html %}
    <main>
        {{ content }}
    </main>
</body>
<script>
    let scrollpos = window.scrollY
    const header = document.querySelector("#nav")
    const header_height = 70;

    console.log(header_height)

    const add_class_one_scroll = () => {
        header.classList.add("fade");
    }
    const remove_class_on_scroll = () => {
        header.classList.remove("fade");
    }

    window.addEventListener('scroll', function () {
        scrollpos = window.scrollY;

        if (scrollpos >= header_height) {
            add_class_one_scroll()
        }
        else {
            remove_class_on_scroll()
        }

        console.log(scrollpos)
    })
</script>

</html>