<!DOCTYPE html>
<html lang="en">

<head>
    {% include meta.html %}
</head>

<body>
    <svg class="defs-only">
        <filter id="monochrome" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
            <feColorMatrix result="original" id="svgcolormatrix" type="matrix"
                values="0.8 0 0 0 -0.1 0 0.5 0 0 0 0 0 1 0 0 0 0 0 1 -0.04"></feColorMatrix>
        </filter>
    </svg>
    {% include nav.html %}
    <main>
        {{ content }}
    </main>
    <!-- <div class="v-container">
        <div class="triangle" id="bluetriangle">

        </div>
        <div class="triangle" id="pinktriangle">

        </div>
    </div> -->
</body>

<style>
    .v-container {
        display: flex;
        isolation: isolate;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .triangle {
        height: 140px;
        width: 210px;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        mix-blend-mode: color-dodge;
    }

    #pinktriangle {
        position: relative;
        left: -100px;
        background-color: var(--secondary);
    }

    #bluetriangle {
        background-color: var(--tertiary);
    }
</style>

<script>
    let scrollpos = window.scrollY
    const header = document.querySelector("#nav")
    const header_height = 70;

    console.log(header_height)

    const add_class_one_scroll = () => {
        header.classList.add("fade");
    }
    const remove_class_on_scroll = () => {
        header.classList.remove("fade");
    }

    window.addEventListener('scroll', function () {
        scrollpos = window.scrollY;

        if (scrollpos >= header_height) {
            add_class_one_scroll()
        }
        else {
            remove_class_on_scroll()
        }

        console.log(scrollpos)
    })
</script>

</html>