---
import MainLayout from './Main.astro'
const { title } = Astro.props;
---
<MainLayout title={title}>
	<div role="presentation" class="loading-container">
		<div class="loading"/>
	</div>
	<slot/>
</MainLayout>

<style>
:global(main) {
	min-height: calc(100vh - 340px);
	margin-top: 150px 100px 8px 8px;
}

.loading {
	width: 50px;
	height: 50px;
	background: var(--white);
	margin: auto;

	box-shadow: 0px 0px 0 0px var(--secondary),
	            0px 0px 0 0px var(--tertiary);
	animation: loading-animation 0.5s ease infinite;
	animation-direction: alternate;
}

.loading-container {
	position: absolute;
	top: 400px;
	width: 100%;
	z-index: -99;
	animation: flip 2s steps(2) infinite;
	animation-delay: 2s;
}

@keyframes loading-animation {
	to {
		box-shadow: 20px -20px 0 20px var(--secondary),
		           -20px 20px 0 20px var(--tertiary);
		transform: scale(0.7);
	}
}

@keyframes flip {
	to {
		transform: rotate(360deg);
	}
}
</style>