--- 
import BasicMeta from '../components/BasicMeta.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Global from '../components/Global.astro'
const {title} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <Global />
    <BasicMeta title={title} />
</head>

<body>
    <Header />
    <main>
        <slot />
    </main>
    <Footer />
    <script data-goatcounter="https://vivic.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>
</html>

<style>
body {
    color: var(--white);
    min-height: 100vh;
    background-image: radial-gradient(88% 140% at 120% -5%, #482979, #40256b, #38215e, #301d51, #291943, #211536, var(--dark) 80%);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--dark);
    margin: 0;
}

main {
    font-family: var(--mainfont);
    margin: 8px;
}

</style>

