--- 
import BasicMeta from '../components/BasicMeta.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
const {title} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <BasicMeta title={title} />
</head>

<body>
    <Header />
    <main>
        <slot />
    </main>
    <Footer />
    <script data-goatcounter="https://vivic.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>
</html>

<style>
body {
    color: var(--white);
    min-height: 100vh;
    background-image: radial-gradient(88% 140% at 120% -5%, #482979, #40256b, #38215e, #301d51, #291943, #211536, var(--dark) 80%);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--dark);
    margin: 0;
}

main {
    font-family: main;
    min-height: calc(100vh - 340px);
    margin: 8;
    padding-top: 150px
}

</style>

<style global>
:root {
    --main: #262260;
    --secondary: #f55a8a;
    --tertiary: #7de5e5;
    --dark: #1a1229;
    --white: #ffffff;
}

::selection {
    color: var(--white);
    background: var(--secondary);
}

@font-face {
    font-family: "main";
    src: url('/fonts/Font-Medium.woff2') format('woff2'),
        url('/fonts/Font-Medium.woff') format('woff'),
        url('/fonts/Font-Medium.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "main";
    src: url('/fonts/Font-Bold.woff2') format('woff2'),
        url('/fonts/Font-Bold.woff') format('woff'),
        url('/fonts/Font-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "main";
    src: url('/fonts/Font-Light.woff2') format('woff2'),
        url('/fonts/Font-Light.woff') format('woff'),
        url('/fonts/Font-Light.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "main";
    src: url('/fonts/Font-Book.woff2') format('woff2'),
        url('/fonts/Font-Book.woff') format('woff'),
        url('/fonts/Font-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
</style>

